<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="images/favicon-group-text.ico">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="center">
        <h1>Register</h1>
        <form id="regForm">
            <div class="txt_field">
                <input id="username" type="text" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input id="password" type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Register">
            <div class="register_link">
                Already registered? <a href="/login">Login</a>
            </div>
        </form>
    </div>

    <script src="js/register.js"></script>
</body>
</html>